# virtual environment
ecommerce-env
.env
.venv

# sqlite database
db.sqlite3

# Migration files
**/migrations/

# ignore pycache files
__pycache__
**/__pycache__/
*/__pycache__
*.pyc
*/cpython-38.pyc
*/cpython-310.pyc

# VS Code
.vscode/
.DS_Store

# coverage
htmlcov/
.coverage